/**
 * Strike out links to certain websites to avoid accidentally visiting them.
 */
a[href*="//forbes.com"], a[data-href*="//forbes.com"], a[data-full-url*="//forbes.com"],
a[href*="//www.forbes.com"], a[data-href*="//www.forbes.com"], a[data-full-url*="//www.forbes.com"],
a[href*="/onforb.es"], a[data-href*="//onforb.es"], a[data-full-url*="//onforb.es"],
a[href*="//bizjournals.com"], a[data-href*="//bizjournals.com"], a[data-full-url*="//bizjournals.com"],
a[href*="//www.bizjournals.com"], a[data-href*="//www.bizjournals.com"], a[data-full-url*="//www.bizjournals.com"] ,
a[href*="//wired.com"], a[data-href*="//wired.com"], a[data-full-url*="//wired.com"],
a[href*="//www.wired.com"], a[data-href*="//www.wired.com"], a[data-full-url*="//www.wired.com"] {
    text-decoration: line-through !important;
}

@-moz-document domain("data.acgov.org") {
/* reduce unreadably thick font weights on Alameda County's open data portal */
.browseSection .browseList .results .gridList .nameDesc .name {
    font-weight: normal !important;
}
}

@-moz-document domain("pgbovine.net") {
/* moves content on Philip Guo's personal website to center of monitor */
    body>*, div#menubar {
        margin-left: auto;
        margin-right: auto;
        max-width: 924px;
    }

    #headerpic {
        width: 800px;
    }
}

@-moz-document domain("theyetee.com") {
/* Make image cycler buttons look clickable with clicky-hand mouse cursor */
    .cycle-pager>span {
        cursor: pointer;
    }
}

@-moz-document domain("troyhunt.com") {
/* increase readability */
    .post-outer {
        max-width: 700px;
        margin: auto;
        line-height: 1.6;
    }
}

@-moz-document domain("feedly.com") {
/* titlecase is trash */
    h1 {
        text-transform: none !important;
    }
}

@-moz-document domain("flickr.com") {
/* I will never sign up */
.signup-footer {
    display:none;
}
}

@-moz-document url-prefix("https://www.reddit.com/r/roosterteeth") {
/* these flairs are so obnoxious */
.flair-square {
    display:none;
}
}