/**
 * Strike out links to certain websites to avoid accidentally visiting them.
 *
 * websites blocked (and reasons why):
 * -- Forbes, for awful ads (often with malware) and obnoxious "Welcome" page
 * -- Washington Post, for awful misinformed journalism, particularly in tech security **commented bc outside of tech security, they're ok
 */
a[href*="//forbes.com"], a[data-href*="//forbes.com"], a[data-full-url*="//forbes.com"],
a[href*="//www.forbes.com"], a[data-href*="//www.forbes.com"], a[data-full-url*="//www.forbes.com"],
a[href*="/onforb.es"], a[data-href*="//onforb.es"], a[data-full-url*="//onforb.es"]/*,
a[href*="//washingtonpost.com"], a[data-href*="//washingtonpost.com"], a[data-full-url*="//washingtonpost.com"],
a[href*="//www.washingtonpost.com"], a[data-href*="//www.washingtonpost.com"], a[data-full-url*="//www.washingtonpost.com"],
a[href*="//wapo.st"], a[data-href*="//wapo.st"], a[data-full-url*="//wapo.st"]*/
{
    text-decoration: line-through !important;
}

@-moz-document domain("data.acgov.org") {
/* reduce unreadably thick font weights on Alameda County's open data portal */
.browseSection .browseList .results .gridList .nameDesc .name {
    font-weight: normal !important;
}
}

@-moz-document domain("pgbovine.net") {
/* moves content on Philip Guo's personal website to center of monitor */
body>*, div#menubar {
    margin-left: auto;
    margin-right: auto;
    max-width: 924px;
}

#headerpic {
    width: 800px;
}
}

@-moz-document domain("theguardian.com") {
/* Reduce derpiness of The Guardian with adblocking turned on */
#header {
    margin-top: 0 ! important;
}
}

@-moz-document domain("theyetee.com") {
/* Make image cycler buttons look clickable with clicky-hand mouse cursor */
.cycle-pager>span {
    cursor: pointer;
}
}